<h1>Hello Lunttery</h1>


<div>
	<table class="table table-hover">
		<tr>
			<th>店名</th>
			<th>功能</th>

		</tr>
		
		<% @dinners.each do |dinner| %>
			<tr>
				<td>
					<%= dinner.name %>
				</td>
				<td>
					<%= link_to "Show", dinner_path(dinner),:class=>"btn btn-info" %>
				</td>
			</tr>
		<% end %>
	</table>
</div>